<mat-form-field class="create-input-top" style="padding-top: 20px; width: 90%;">
  <input type="hidden" #txtId>
  <mat-label>Name</mat-label>
  <input matInput type="text" #txtName>
</mat-form-field>
<mat-form-field class="create-input">
  <mat-label>Description</mat-label>
  <input matInput type="text"#txtDescription>
</mat-form-field>
<mat-form-field class="create-input">
  <mat-label>Stock</mat-label>
  <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>
<mat-form-field class="create-input">
  <mat-label>Price</mat-label>
  <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>
<button mat-raised-button color="primary" (click)="create(txtName, txtDescription, txtStock, txtPrice)">Create Product</button>


