
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

<!-- about  -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="products">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="baskets">Basket</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contact">Contact</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="admin">Admin Panel</a>
  </li> -->
</ul>
<form class="d-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" routerLink="admin">Admin</button>
</form>
</div>
</div>
</nav>
<router-outlet></router-outlet>


<ngx-spinner type="ball-spin" size="medium" name="s1" color="yellow"></ngx-spinner>
<ngx-spinner type="line-spin-clockwise-fade" size="medium" name="s2" color="yellow"></ngx-spinner>
<ngx-spinner type="ball-scale-multiple" size="medium" name="s3" color="yellow"></ngx-spinner>
<ngx-spinner type="ball-fall" size="medium" name="s4" color="yellow"></ngx-spinner>
