<!-- <ul>
  <li><a routerLink="/admin">Dasboard</a></li>
  <li><a routerLink="./customer">Customer</a></li>
  <li><a routerLink="./product">Product</a></li>
  <li><a routerLink="./order">Order</a></li>
  <li><a routerLink="">Siteye Git</a></li>
</ul> -->

<mat-list role="list">

  <mat-list-item role="listitem"><a routerLink="/admin">Dasboard</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="./product">Product</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="./order">Order</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="./user">User</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="">Siteye Git</a></mat-list-item>

</mat-list>
